<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">

      <mat-drawer mode="side" opened class="p-6">
            <filter (showCategory)="onShowCategory($event)"></filter>
      </mat-drawer>
      <mat-drawer-content class="p-6">
            <product-header (columnsCountChange)="onColumnsCountChange($event)"></product-header>
            <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
                  <mat-grid-tile>
                        <product-box></product-box>
                  </mat-grid-tile>
            </mat-grid-list>
      </mat-drawer-content>
</mat-drawer-container>